// colors
$light__color: #edf2f4;
$gray__color: #8d99ae;
$dark__color: #2b2d42;
$main__color:#ef233c;

$main__section__padding:rem(200);
$banner__main__h:115%;
$speed_duration: all .3s ease-in-out;
$container__padding__sm:rem(10);
$container__padding__lg:rem(40);
$slow_transition: 1s ease;
$light_shadow: #eee 0px 8px 24px;