.categories{
  width: 100%;
  &__items{
    width: 100%;
    @include grid($min:500,$gap:5);
  @media (max-width: 768px) {
    @include grid($min: 400, $gap: 5);
  }
  @media (max-width: 400px) {
    @include grid($min: 200, $gap: 2);
  }

    &__item{
      position: relative;
      width: 100%;
      height: rem(500);
      background-color: $light__color;
      padding-bottom: rem(50);
      &:hover{
        &::before{
          opacity: .2;
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main__color;
        z-index: 10;
        display: block;
        opacity: 0;
        transition: $speed_duration;
      }
      &__name{
        text-align: center;
        text-transform: capitalize;
        padding: rem(30);
        font-size: rem(30);
        font-weight: 300;
      }
      &__img{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
      }
    }
  }
}