.nav{
  padding-top: rem(10);
  padding-bottom: rem(10);
  min-height: rem(80);
  @include flex();
  // background-color: $light__color;
  // box-shadow: $light_shadow;
  @media (max-width: 768px) {
    .container{
      flex-wrap: wrap;
      justify-content: center !important;
      gap: rem(30);
      ul{
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }
  .container{
    @include flex($justify:space-between);
    height: 100%;
  }
  &__links{
    flex: 1;
    @include flex();
    &__link{
      position: relative;
      padding-left: rem(10);
      margin-left: rem(10);
      text-transform: capitalize;
      cursor: pointer;
      font-weight: 500;
      transition: $speed_duration;
      border-left: 2px solid transparent;
      color: $dark__color;
      white-space: nowrap;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: rem(2);
        height: 0;
        background-color: $main__color
      }
      &:hover{
        color:$main__color !important;
        &::before{
          height: rem(20);
          animation: updown .5s linear;
        }
      }
    }
    
  } 
  &__profile{
    margin-left: rem(30);
    width: rem(40);
    height: rem(40);
    cursor: pointer;
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        &__litter{
          width: 100%;
          height: 100%;
          @include flex();
          background: $main__color;
          color: #fff;
          border-radius: 50%;
          text-transform: capitalize;
        }
      }
  }
  &__cart{
    position: relative;
    svg{
      color: $dark__color;
    }
    &__num{
      position: absolute;
      top: rem(-10);
      left: rem(-20);
      background-color: $main__color;
      width: rem(20);
      height: rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: rem(11);
      font-weight: 500;
      color: $light__color;
    }
  }
}
@keyframes updown {
  0%{
    height: 0;
    opacity: 0;
  }
  50%{
    height: rem(30);
    opacity: .7;
  }
  100%{
    height: rem(20);
    opacity: 1;
  }
}